* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: black;
color: white;
font-family: 'Libre Baskerville', serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.poster {
text-align: center;
width: 50%;
}

.motivation-img {
width: 100%;
border: 5px solid white;
}

h1 {
text-transform: uppercase;
margin-top: 20px;
}

p {
margin-top: 10px;
}